
# BEGIN Cache-Control Headers
<IfModule mod_expires.c>
  <IfModule mod_headers.c>
    <FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|js|css)$">
      Header append Cache-Control "public"
    </FilesMatch>
    <FilesMatch "\.(css)$">
      Header append Cache-Control "public"
    </FilesMatch>
    <FilesMatch "\.(js)$">
      Header append Cache-Control "private"
  </FilesMatch>
    <FilesMatch "\.(x?html?|php)$">
      Header append Cache-Control "private, must-revalidate"
    </FilesMatch>
  </IfModule>
</IfModule>

## EXPIRES HEADER CACHING ##
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access 3 months"
  ExpiresByType image/jpeg "access 3 months"
  ExpiresByType image/gif "access 3 months"
  ExpiresByType image/png "access 3 months"
  ExpiresByType image/svg "access 3 months"
  ExpiresByType image/webp "access 3 months"
  ExpiresByType image/svg+xml "access 3 months"
  ExpiresByType image/x-icon "access 1 year"
  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access 1 month"
  ExpiresByType application/x-javascript "access 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"
  # Others
  ExpiresByType application/pdf "access 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"
  ExpiresDefault "access 2 days"
</IfModule>
## EXPIRES HEADER CACHING ##